* {
  margin: 0px;
  padding: 0px; }

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F1FF5F;
  font-family: 'Open Sans', sans-serif; }
  body header {
    background-color: #333;
    height: 10vh;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    color: #eee; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Days One', sans-serif; }
